In [164]:
# Tuples
# type of Collection datatype
# Round Brackets ()
# Immutable, unchangeable
# ordered
# Allows duplicate
# Indexed

In [165]:
abc = ()

type(abc)

tuple

In [166]:
len(abc)

0

In [167]:
# once the tuple is created you cannot add anything to it as it has no methods to do so.

abc.append(1) # this will not work as tuple cannot be updated once created

AttributeError: 'tuple' object has no attribute 'append'

In [168]:
q  = "lambhorgini Gallardo"
q

'lambhorgini Gallardo'

In [169]:
abc = list(abc)
abc.append(q)

In [170]:
abc

['lambhorgini Gallardo']

In [171]:
abc = tuple(abc)

In [172]:
abc

('lambhorgini Gallardo',)

In [173]:
# the workaround to update is to first convert tuple into a list then update and then convert it back to tuple.

zxc = ()

In [174]:
zxc = list(zxc)
zxc.append("lambhorghini aventador")
zxc = tuple(zxc)

In [175]:
zxc

('lambhorghini aventador',)

In [176]:
# trick/another workaround of updating a tuple, which is to add tuple to a tuple

zxc, abc

(('lambhorghini aventador',), ('lambhorgini Gallardo',))

In [177]:
zxc + abc

('lambhorghini aventador', 'lambhorgini Gallardo')

In [178]:
zxc += abc

In [179]:
zxc

# note
# You can only add to tuple with a tuple

('lambhorghini aventador', 'lambhorgini Gallardo')

In [180]:
# Can we add list to a tuple or the other way around?

abc = list(abc)

In [181]:
abc.insert(1, zxc)

In [182]:
abc

['lambhorgini Gallardo', ('lambhorghini aventador', 'lambhorgini Gallardo')]

In [183]:
zxc = zxc + ("mclaren Sena", "Lamborghini Centenario", "Lambhorghini Cian")

In [192]:
# loops in tuples

for cars in zxc:
    if cars.startswith(("lambh", "Lamb",)):
        print(cars)

lambhorghini aventador
lambhorgini Gallardo
Lamborghini Centenario
Lambhorghini Cian

In [185]:
zxc

('lambhorghini aventador',
 'lambhorgini Gallardo',
 'mclaren Sena',
 'Lamborghini Centenario',
 'Lambhorghini Cian')

In [195]:
# one more way to update a tuple is to multiple the tuple

zxc2 = zxc * 2

zxc2

('lambhorghini aventador',
 'lambhorgini Gallardo',
 'mclaren Sena',
 'Lamborghini Centenario',
 'Lambhorghini Cian',
 'lambhorghini aventador',
 'lambhorgini Gallardo',
 'mclaren Sena',
 'Lamborghini Centenario',
 'Lambhorghini Cian')

In [197]:
# count : same as list
# give me the cound of an element inside a tuple

zxc2.count('mclaren Sena')

2

In [201]:
# index
# will give you index of first occurence of the element
zxc2.index("mclaren Sena")

2

In [203]:
zxc2.index("mclaren Sena")

2

In [216]:
# problem - Find all the indexs of same elements
cars_index = 0
for cars in (zxc2):
    cars_index += 1
    if cars == "mclaren Sena":
        print(cars, cars_index - 1)

mclaren Sena 2
mclaren Sena 7

In [217]:
for cars_i, cars in enumerate(zxc2):
    if cars == "mclaren Sena":
        print(cars_i, "<<< is the index of >>>", cars)

2 <<< is the index of >>> mclaren Sena
7 <<< is the index of >>> mclaren Sena

In [ ]:
# print
# enumerate - These are python classes, which has code written inside them give them their functionality