In [1]:
# lists - Collection Datatype
# ordered
# Can Contains all types of datatype
# Mutable - Changeable
# allows duplicate

In [2]:
# Methods
# append
# insert
# pop
# del
# remove

In [35]:
# concept

# list is collection of datatypes between square brackets []
# indexing - unique id or sequence of the list items

a =                  ["ibrahim", 22,  True, 99.99, 22]
# index =            [0,          1,   2,   3,     4] # positive indeing starts from 0
# reverse indexing = [-5         -4   -3    -2    -1] # negative indexing starts from -1

In [36]:
len(a)

5

In [37]:
q, w, e, r = 1, 2, 3, 4

In [38]:
c = [q, w, e, r]

In [39]:
c

[1, 2, 3, 4]

In [40]:
a, c

(['ibrahim', 22, True, 99.99, 22], [1, 2, 3, 4])

In [41]:
a = a + c # list addition
# concept is you can add a list to a list

In [42]:
a

['ibrahim', 22, True, 99.99, 22, 1, 2, 3, 4]

In [43]:
a

['ibrahim', 22, True, 99.99, 22, 1, 2, 3, 4]

In [48]:
d = set(range(11, 15))
d # set object
a.append(set(range(11, 15)))

In [49]:
a

['ibrahim',
 22,
 True,
 99.99,
 22,
 1,
 2,
 3,
 4,
 {11, 12, 13, 14},
 {11, 12, 13, 14}]

In [47]:
a[-1]

{11, 12, 13, 14}

In [50]:
a.append(["lambhorghini", "buggati"])

In [52]:
a

['ibrahim',
 22,
 True,
 99.99,
 22,
 1,
 2,
 3,
 4,
 {11, 12, 13, 14},
 {11, 12, 13, 14},
 ['lambhorghini', 'buggati']]

In [75]:
# problem

lst_1 = [22.44, "Apple", 22, "orange",False, 33, "kiwi", 44]

# seperate number and stings into two different lists

# loop
num_list = []
str_list = []
rest_list = []
for x in lst_1:
    if type(x) is int:
        num_list.append(x)
    elif type(x) is str:
        str_list.append(x)
    else:
        rest_list.append(x)
print(num_list, str_list, rest_list)

[22, 33, 44] ['Apple', 'orange', 'kiwi'] [22.44, False]

In [80]:
# problem - seperate float and integers into a new list
abc = {22.44, "Apple", 22, "orange",False, 33, "kiwi", 44}

for y in abc:
    if type(y) in int or type(y) is float:
        print(y)

33
44
22.44
22