In [1]:
# lists - Collection Datatype
# ordered
# Can Contains all types of datatype
# Mutable - Changeable
# allows duplicate

In [2]:
# Methods
# append
# insert
# pop
# del
# remove

In [35]:
# concept

# list is collection of datatypes between square brackets []
# indexing - unique id or sequence of the list items

a =                  ["ibrahim", 22,  True, 99.99, 22]
# index =            [0,          1,   2,   3,     4] # positive indeing starts from 0
# reverse indexing = [-5         -4   -3    -2    -1] # negative indexing starts from -1

In [36]:
len(a)

5

In [37]:
q, w, e, r = 1, 2, 3, 4

In [38]:
c = [q, w, e, r]

In [39]:
c

[1, 2, 3, 4]

In [40]:
a, c

(['ibrahim', 22, True, 99.99, 22], [1, 2, 3, 4])

In [41]:
a = a + c # list addition
# concept is you can add a list to a list

In [42]:
a

['ibrahim', 22, True, 99.99, 22, 1, 2, 3, 4]

In [43]:
a

['ibrahim', 22, True, 99.99, 22, 1, 2, 3, 4]

In [48]:
d = set(range(11, 15))
d # set object
a.append(set(range(11, 15)))

In [49]:
a

['ibrahim',
 22,
 True,
 99.99,
 22,
 1,
 2,
 3,
 4,
 {11, 12, 13, 14},
 {11, 12, 13, 14}]

In [47]:
a[-1]

{11, 12, 13, 14}

In [50]:
a.append(["lambhorghini", "buggati"])

In [52]:
a

['ibrahim',
 22,
 True,
 99.99,
 22,
 1,
 2,
 3,
 4,
 {11, 12, 13, 14},
 {11, 12, 13, 14},
 ['lambhorghini', 'buggati']]

In [75]:
# problem

lst_1 = [22.44, "Apple", 22, "orange",False, 33, "kiwi", 44]

# seperate number and stings into two different lists

# loop
num_list = []
str_list = []
rest_list = []
for x in lst_1:
    if type(x) is int:
        num_list.append(x)
    elif type(x) is str:
        str_list.append(x)
    else:
        rest_list.append(x)
print(num_list, str_list, rest_list)

[22, 33, 44] ['Apple', 'orange', 'kiwi'] [22.44, False]

In [82]:
# problem - seperate float and integers into a new list
abc = {22.44, "Apple", 22, "orange",False, 33, "kiwi", 44}

for y in abc:
    if type(y) is int or type(y) is float:
        print(y)

33
44
22.44
22

In [5]:
# copy

abc = [22.44, "Apple", 22, "orange",False, 33, "kiwi", 44]

aba = abc.copy()
aba

[22.44, 'Apple', 22, 'orange', False, 33, 'kiwi', 44]

In [6]:
# clear
# clears all the elements from a list

xyz

[22.44, 'Apple', 22, 'orange', False, 33, 'kiwi', 44]

In [7]:
xyz.clear()

In [8]:
xyz

[]

In [14]:
# count
# counts the number of times a element is existing inside a list
aba.append("orange")
aba.count('orange')

4

In [15]:
aba

[22.44,
 'Apple',
 22,
 'orange',
 False,
 33,
 'kiwi',
 44,
 'orange',
 'orange',
 'orange']

In [21]:
#extend
# adding a list to a PARENT list

a = [1, 2, 3, 4, 5]
b = [6, 7]

a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [26]:
# index
# gives you the index of a element

a = list(range(1, 999, 3))
a.index(358)

119

In [38]:
# insert
# adding an element in a list at a specific index while pushing the existing element to the back
abc = [22.44, 'Apple', 22, 'orange', False, 33, 'kiwi', 44]
print("before>>>>",abc, abc[4])
abc.insert(4, True)
print("after>>>",abc)

before>>>> [22.44, 'Apple', 22, 'orange', False, 33, 'kiwi', 44] False
after>>> [22.44, 'Apple', 22, 'orange', True, False, 33, 'kiwi', 44]

In [41]:
# suppose you want to replace the element in a list
abc[4] = "lambhorghini"

In [59]:
# variable/value swapping

abc[3], abc[4] = abc[4], abc[3]

abc

[22.44, 'Apple', 22, 'orange', 'lambhorghini', False, 33, 'kiwi', 44]

In [69]:
# reverse
# reverses the list, no parameter is requried
abc.reverse()

In [70]:
abc

[22.44, 'Apple', 22, 'orange', 'lambhorghini', False, 33, 'kiwi', 44]

In [75]:
abc.reverse()

In [81]:
abc

[22.44, 'Apple', 22, 'orange', 'lambhorghini', False, 33, 'kiwi', 44]

In [82]:
# reverse shortcut

abc[::-1]

[44, 'kiwi', 33, False, 'lambhorghini', 'orange', 22, 'Apple', 22.44]

In [84]:
# sorting

abc.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [92]:
abc = [3,5,1, 6, 7, 9, 8, 2, 4]

In [93]:
abc.sort()

In [94]:
abc

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
# remove - To remove a specific element
abc.remove(5)
abc

[1, 2, 3, 4, 6, 7, 8, 9]

In [97]:
# pop - removes the element from a specified index and if not index is provided it will remove the last element
abc.pop(2)

3

In [99]:
abc.pop()
# why last because empty parameter means -1 index element

9

In [141]:
abc = ["Anshuman Anand Singh", 2, 3, 4, 6, 7, 8, 9]

In [142]:
abc1 = abc.pop(0).split(' ')[0]
abc.insert(0, abc1)

In [143]:
abc1,abc

('Anshuman', ['Anshuman', 2, 3, 4, 6, 7, 8, 9])